.service-row {
  justify-content: center;
}

.std-margin {
  margin: 10px 0;
}

.service-card-wrapper {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background: #ffffff;
}
.single-service-outer-wrapper img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service-title-data {
  text-align: center;
  padding: 15px;
}

.service-title-data h6 {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}



.section-header-wrapper {
  padding: 0;
}

