.CustomSection {
  height: auto;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: 350px;
  margin-right: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #ffffff;
}



.image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
}

.image img {
  margin-left: 140px;
  width: 100%;
  height: 100%;
}

.subServices-wrapper {
  font-size: 3vh;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 578px) {
  .CustomSection {
    margin: 20px;
  }
  .image img {
    margin-left: 100px;
  }
}
